* {background-color: lightpink;

    font-style: oblique;
    font-family: "Comic Sans MS";
}

title{ position: absolute;


}


h1, h3 {font-family: SansSerif;
    font-size: x-large;
    color: crimson;
    text-shadow: black;

}
fieldset {padding: 5%;
        margin-outside: 100;
        border-color: blueviolet;
        position: relative;


    background-color: darksalmon;

}

