* {background-color: lavender;

    font-style: oblique;
    font-family: "Comic Sans MS";


}


h1{text-align: center;
    padding-top: 5%;
    text-decoration: double;


}

h3 {font-family: SansSerif;
    font-size: x-large;
    margin-top:20px;
    color: blueviolet;
    text-shadow: black;
    margin-left:450px

}

h2{color: blueviolet;


}
#signupbox{margin-outside: 40px;
    position:relative;
    margin-top:15px;
    margin-right:150px;
    margin-left:450px;
    border:3px solid #a1a1a1;
    padding:9px 35px;
    background:darkviolet;
    width:400px;
    border-radius:20px;
    box-shadow: 7px 7px 6px;
}



#loginbox {margin-top:100px;
        margin-right:150px;
        margin-left:450px;
        border:3px solid #a1a1a1;
        padding:9px 50px;
        background:darkviolet;
        width:400px;
        border-radius:20px;
        box-shadow: 7px 7px 6px; }

#button{ border-radius:10px;
        width:100px;
        height:40px;
        background:#FF00FF;
        font-weight:bold;
        font-size:20px }

#signup{text-align: center;
        margin-right:150px;
        margin-left:500px;
        margin-top: 1%;

}

#content{;

}


#BugInformation{margin-top:50px;
    margin-right:150px;
    margin-left:450px;
    border:3px solid #a1a1a1;
    padding:9px 35px;
    background:darkviolet;
    width:500px;
    border-radius:20px;
    box-shadow: 7px 7px 6px;

}
#loginlink{
    text-align: right;
}
#buglistcontent {margin-top: 5%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:1%;
    position: absolute;
    border:3px solid #a1a1a1;
    padding:9px 50px;
    background-color: whitesmoke;
    width:90%;
    border-radius:20px;

}


